body {
  margin: 0;
  padding: 1.5em 3em;
  color: #333;
  background: #fff;
  font: 1em/1.5 sans-serif;
}

main {
  max-width: 40em;
  margin: 0 auto;
}

h1 {
  border-bottom: 1px solid #000;
}

form {
  margin: 0;
  padding: 0;
}

form > div {
  margin: 1.5em 0;;
}

p {
  margin: 0;
}

label {
  display: block;
  margin: 0.25em 0;
  font-weight: bold;
}

input {
  margin: 0;
  padding: 0.25em 0.5em;
  border: 1px solid #000;
  border-radius: 5px;
  color: inherit;
  background-color: inherit;
  line-height: inherit;
  font: inherit;
}
